<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p>Aaron Wilson</p>
           
            <h1>Product Manager / Designer</h1>
            <p>    
            That's a fancy way of saying I do every stage of product development, from strategy to visual design. These days I'm a PM at <a href="http://www.glide.me" target="_blank">Glide</a> and am exploring a move to renewable energy. Before my recent move to Israel, I was working at <a href="http://www.amazon.com" target="_blank">Amazon</a>'s audiobook division, <a href="http://about.audible.com" target="_blank">Audible</a>. I designed and shipped Audible Channels to a few million users and did a lot of work with the <a href="http://prime.amazon.com" target="_blank"> Amazon Prime</a> team. I get very passionate about the things I work on. </p>
            
            <div class="header-cta">
                <p>Want to talk?</p>
                <a href="mailto:hi@aaronwilson.me?subject=[aaronwilson.me]" target="_blank" class="btn">Get in touch!</a>
            </div>
            
        </div>
    </div>
</header>
