<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p>Aaron Wilson</p>
            <h1>User Experience Designer</h1>
            <p>That’s me. I recently moved to Israel. In the US I was working at <a href="www.about.audible.com"> Audible</a>, an <a href="www.amazon.com"> Amazon</a> company, where I designed Channels and shipped it to millions of users. I also worked on an integration with <a href="www.prime.amazon.com"> Amazon Prime</a>. I run on passion.</p>
            <div class="header-cta">
            <p>Working on something meaningful?</p>
            <a href="mailto:aarowilso@gmail.com" class="btn btn-primary">Get in touch!</a>
        </div>
        </div>
    </div>
</header>
