<header>
    <div class="header-content">
        <div class="header-content-inner">
            <p>Aaron Wilson</p>
           
            <h1>User Experience Designer</h1>
            
            <p>That’s me. I recently moved to Israel. In the US I was working at <a href="http://about.audible.com" target="_blank"> Audible</a>, an <a href="http://amazon.com" target="_blank"> Amazon</a> company, where I designed Channels and shipped it to millions of users. I also worked on an integration with <a href="http://prime.amazon.com" target="_blank"> Amazon Prime</a>. I run on passion.</p>
            
            <div class="header-cta">
                <p>Working on something meaningful?</p>
                <a href="mailto:aarowilso@gmail.com" target="_blank" class="btn">Get in touch!</a>
            </div>
            
        </div>
    </div>
</header>
