<section class="project {{include.projectClass}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                
                <div class = "logoAndText">
                    <img class= "logo" src="img/logos/{{ include.logo }}">
                    <h1 class="section-heading">{{ include.title }}</h1>
                    <p class ="descriptionText">{{ include.description }}</p>
                    <a href="#" class="btn">See the Project</a>
                </div>

                <img class= "screenshot" src="img/featuredScreenshots/{{ include.screenshot }}">

            </div>
        </div>
    </div></section>
