<section class="project {{include.projectClass}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                 <img class= "screenshot" src="img/featuredScreenshots/{{ include.screenshot }}">
                <img class= "logo" src="img/logos/{{ include.logo }}">
                <h1 class="section-heading">{{ include.title }}</h1>
                <p>{{ include.description }}</p>
                <a href="#" class="btn">See the Project</a>
            </div>
        </div>
    </div></section>
