<section class="project {{include.projectClass}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img class= "logo" src="../img/audibleLogo.png">
                <h1 class="section-heading">Channels</h1>
                <p>We designed Channels  to add to the value of Audible membership, similar to the way that streaming videos adds to the value of Prime Membership. Channels recently launched to Audible’s millions of users.</p>
                <a href="#" class="btn">See the Project</a>
            </div>
        </div>
    </div>
</section>
