html,
body {
    height: 100%;
    width: 100%;
}

body {
    @include serif-font;
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: #FFB664;
    &:hover,
    &:focus {
        color: #fff;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
    color: white;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
}

// .bg-primary {
//     background-color: $theme-primary;
// }

// .bg-dark {
//     background-color: $theme-dark;
//     color: white;
// }

// .text-faded {
//     color: rgba(white, .7);
// }

section {
    padding: 100px 0;
    height: 610px;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

// Navigation

// Homepage Header

header {
    -webkit-text-size-adjust: 100%;
    position: relative;
    background-image: url('../img/header.jpg');
    background-size: auto 610px;
    height: 610px;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;
    .header-content {
        position: relative;
        text-align: center;
        padding: 103px 30px 77px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                letter-spacing: -2px;
                margin-top: 0;
                margin-bottom: 30px;
            }
            p {
                font-weight: 300;
                margin-bottom: 10px;
            }
            .header-cta {
                margin-top: 50px;
            }
        }
    }
    @media (min-width: 768px) {
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

// Sections

.section-heading {
    margin-top: 0;
}

.strip {
    background-color: white;
    height: 100px;
    .stripText {
        padding-top: 30px;
        text-align: center;
        color: #389FCC;
        @include sans-serif-font;
        font-weight: 700;
    }
    
}

.project {
    .logo {
        padding-left: 40px;
    }
    // background-repeat: no-repeat;
    // background-size: 0px 0px;
    // background-position: left bottom;
    
    
    @media (min-width: 768px) {
        .screenshot {
            float: left;
     }
     // background-size: 292px 533px;
     // padding-left: 50px;
     // .container {
     //    max-width: 80%;
     // }
 }
}

.channels {
    background-color: #F89922;
    //background-image: url('../img/featuredScreenshot.png');
}

.sparta {
    background-color: #2d2d2d;
   // background-image: url('../img/featuredScreenshot.png');
}

.glove {
    background-color: #4CE5BF;
   // background-image: url('../img/featuredScreenshot.png');
}

.myregistry {
    background-color: #ED7233;
   // background-image: url('../img/featuredScreenshot.png');
}

// Bootstrap Overrides
.text-primary {
    color: $theme-primary;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Button Styles
// .btn-default {
//     @include button-variant($theme-dark, white, white);
// }

// .btn-primary {
//     @include button-variant(#389FCC, white, transparent);
// }

.btn {
    @include sans-serif-font;
    @include button-variant(#389FCC, white, transparent);
    border: none;
    padding: 10px 50px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-size: 20px;
}

// .btn-xl {
//     padding: 15px 30px;
// }

// Contact
#contact .fa {
    color: $theme-dark;
    font-size: 4em;
}

// Extras
// -- Highlight Color Customization
::-moz-selection {
    color: white;
    text-shadow: none;
    background: #389FCC;
}

::selection {
    color: white;
    text-shadow: none;
    background: #389FCC;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    //-webkit-tap-highlight-color: #E3F7FF;
}

