<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
	{% include header.html %}
	{% include divider.html %}
	
	<!-- Channels -->
	{% include project.html 
	projectClass='channels'
	logo = site.data.resources.channelsLogo
	title = site.data.resources.channelsTitle
	description = site.data.resources.channelsDescription 
	screenshot = site.data.resources.channelsScreenshot
	link = site.data.resources.channelsLink
	projectButton = site.data.resources.projectButtonSee
	%}
	
	<!-- Sparta -->
	{% include project.html 
	projectClass='sparta'
	logo = site.data.resources.spartaLogo
	title = site.data.resources.spartaTitle
	description=site.data.resources.spartaDescription 
	screenshot = site.data.resources.spartaScreenshot
	link = site.data.resources.spartaLink
	projectButton = site.data.resources.projectButtonSee
	%}

	<!-- Paragraph -->
	{% include project.html 
	projectClass='paragraph'
	logo = site.data.resources.paragraphLogo
	title = site.data.resources.paragraphTitle
	description=site.data.resources.paragraphDescription 
	screenshot = site.data.resources.paragraphScreenshot
	link = site.data.resources.paragraphLink
	projectButton = site.data.resources.projectButtonSee
	%}
	
	<!-- Glove -->
	{% include project.html 
	projectClass='glove'
	logo = site.data.resources.gloveLogo
	title = site.data.resources.gloveTitle
	description=site.data.resources.gloveDescription 
	screenshot = site.data.resources.gloveScreenshot
	link = site.data.resources.gloveLink
	projectButton = site.data.resources.projectButtonSee
	%}
	
	<!-- MyRegistry -->
	{% include project.html 
	projectClass='myregistry'
	logo = site.data.resources.myregistryLogo
	title = site.data.resources.myregistryTitle
	description=site.data.resources.myregistryDescription 
	screenshot = site.data.resources.myregistryScreenshot
	link = site.data.resources.myregistryLink
	projectButton = site.data.resources.projectButtonSee
	%}

	{% include footer.html %}

	{% include scripts.html %}
</body>

</html>